:root {
    font-family: Cutive, Georgia, 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav button {
    border: none;
    background-color: white;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease-in-out;
}

nav button:hover {
    color: goldenrod;
}

nav button:active {
    color: rgb(170, 124, 9);
    transition: none;
}

#content {
    height: calc(100vh - 80px);
}


.about-content {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-statement {
    font-style: italic;
    width: 500px;
    line-height: 2;
    font-size: 1.3rem;
    padding-bottom: 60px;
    text-align: center;
}

.about-address {
    font-size: 1.2rem;
    font-weight: bold;
}

.about-details {
    font-size: 1rem;
    color: #7a6350;
    margin-top: 5px;
    font-style: italic;
}

.about-times {
    color: #5c4a3c;
}